// Specific CSS for your home-page
.banner {
  background-image: image-url("home-page-pic5.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  // margin-top: 66px;
  float:right;
  // height: calc(100vh - 66px);
  height: 100vh;
  margin-bottom: 55px;
  position: relative;

}

body {
  background-color: white;
}


.banner h1 {
  font-size: 64px;
  padding-bottom: 30px;
}

.banner h3 {
  font-size: 24px;
}

.banner #home-page-title {
  text-align: left;
  color: $midnight-green-eagle-green;
  font-weight: bold;
  // margin-top: 50px;
  // margin-left: 100px;
  padding-left: 100px;
  padding-top: 220px;
  padding-bottom: 130px;
 }

#signup_form {
  width: 24%;
  background: $cultured;
  padding-right: 20px;
  // padding-top: 20px;
  // padding-bottom:50px;
  padding-left: 20px;
  // margin-top: 70px;
  // margin-right: 50px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  text-align: left;
  position: absolute;
  top: 50px;
  left: 50px;
}

.homepage-form p {
  text-align: left;
}

.header {
  font-weight: lighter;
  padding-bottom: 13px;
  padding-left: 0 !important ;
}

.greeting {
  // text-align: right;
  color: $midnight-green-eagle-green;
  font-weight: bold;
  // margin-top: 50px;
  // margin-right: 70px;
  margin-top: 90px;
  margin-left: 100px;
}
