// Specific CSS for your home-page
.banner {
  background-image: image-url("home-page-pic5.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  // margin-top: 66px;
  float:right;
  // height: calc(100vh - 66px);
  height: 100vh;

}

body {
  background-color: white;
}

.banner h1 {
  font-size: 72px;
  padding-bottom: 30px;
}

.banner h3 {
  font-size: 32px;
}

 .banner #home-page-title {
  text-align: left;
  color: $midnight-green-eagle-green;
  font-weight: bold;
  margin-top: 120px;
  margin-left: 100px;
 }

#signup_form {
  background: $cultured;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom:50px;
  padding-left: 20px;
  margin-top: 70px;
  margin-right: 50px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  text-align: left;
}

.homepage-form p {
  text-align: center;
}


