<div class="footer">
  <div class="footer-copyright">
    © 2020 Rubato, All rights reserved
  </div>
  <div class="footer-links">
    <a href="https://github.com/sofialovin/Rubato" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>
