<div class="footer align-items-center">
  <div class="footer-copyright">
    © 2020 Rubato, All rights reserved
  </div>

  <div class= "footer-links-text align-items-center">
    <a href="#">Sitemap</a> |
    <a href="#">Contact Us</a> |
    <a href="#">Terms of Use</a>
  </div>

  <div class="footer-links-icon">
    <a href="https://github.com/davebenjoya/inst_rental" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>
