<div class="footer mt-1">
  <div class="footer-copyright">
    © 2020 Rubato, All rights reserved
  </div>

  <div class= "row links align-items-center">
    <a href="#">Site map |</a>
    <a href="#">Contact Us |</a>
    <a href="#">Terms of Use </a>
  </div>

  <div class="footer-links">
    <a href="https://github.com/davebenjoya/inst_rental" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>
