<div class="footer">
  <div class="footer-copyright">
    © 2020 Rubato, All rights reserved
  </div>
<<<<<<< HEAD
  <div class="footer-links justify-content-end">
=======
  <div class="footer-links">
>>>>>>> master
    <a href="https://github.com/davebenjoya/inst_rental" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> master
