<div class="form-bg">
<%= simple_form_for @song do |f| %>
  <!-- <p class="form-head"><strong class = "owner-name">€<%= @rental.instrument.daily_rate %> </strong>/ day</p> -->
 <%= select %>
<div style="text-align:right;">
  <%= f.submit class:"form-button", value:"Save Song" %>
</div>
      <%#= ranges %>
<% end %>
</div>
