<%#= @song.html %>
  <div class="container edit-page-identifier mt-0" style='margin-left: 16px;'>
    <div class="row" style='height: 800px; padding:0px;'>
      <%= render partial: "chord_library" %>
        <!-- <div class='col' id="save-area"> -->
      <%= @song.html.html_safe %>
    </div>
    <div id="song-id" data-song-id="<%= @song.id %>"></div>

<template id="template">
  <div>
    <div class='target-area' style='position:relative; margin-top: 4px;'>
    </div>
    <div class="lyric-area">
      <div class="hide" type="text"></div>
      <input class="lyrics" type="text" placeholder="Enter Lyrics" style="letter-spacing: 0.0px; word-spacing: 0.0px;">
      <span class="stretcher btn btn-camel"><i class="fas fa-arrows-alt-h lyrics-handle-icon"></i></span>
    </div>
  </div>
</template>
