<div class="container new-page-identifier mt-0" id="new-song-container">
  <div class="row">
    <div class="col-3" >
      <%= render partial: "chord_library" %>
    </div>
    <div class='col-8 m-4'>
      <%= render partial: 'new_form' %>
      <div id="save-area">
        <input class="file btn-sm" type="file" name="aud-btn" id="aud" value="Upload Audio">
      </div>
    </div>
  </div>
</div>


 <!-- t e m p l a t e s -->

<template id="audio-template">
  <audio class='audio' src="" controls></audio>
</template>

<template id="voicings_template">
  <div id='voicings-container'>
    <div id="voicings-bg">
      <div id='voicings-header'></div>
      <div id="voicings"></div>
      <div id='d-flex voicings-footer'>
        <div class='change-song-div'>
          Change Voicings in Song
          <input type="checkbox" name="songVoicings" id="change-song-voicings">
        </div>
        <!-- <i class="fas fa-window-close" id="close-voicings"></i> -->
      </div>
     </div>
     </div>
</template>

<template id="template">
  <div class='line'>
    <div class='target-area'>
    </div>
    <div class="lyric-area d-flex align-items-center">
      <div class="hide" type="text"></div>
      <input class="lyrics" type="text" placeholder="Enter Lyrics" style="letter-spacing: 0.0px; word-spacing: 0.0px;">
      <span class="stretcher btn btn-slate-grey"><i class="fas fa-arrows-alt-h lyrics-handle-icon"></i></span>
    </div>
  </div>
</template>


