    <div class="container" style='margin-left: 16px;'>
      <div class="row" style='height: 800px; padding:0px;'>
        <div id="library"  class="col-2" >
          <% chords = Chord.all %>
          <% chords.each_with_index do  |chord, index| %>
            <p id="p<%= index %>" draggable="true" class="draggable rng" ondragstart="dragstart_handler(event)"><%= chord.name %></p>
          <% end %>
        </div>

<div class='col'>
        <div id="target-area" ondrop="drop_handler(event)" ondragover="dragover_handler(event)" style='position:relative'>

        </div>
<div style='width: 100%;'>
<span id="hide"></span>
<input id="txt" type="text" placeholder="Enter Lyrics">
<span class="stretcher" onmousedown="clickStretcher(event)" onmouseup="unclickStretcher(event)"><i class="fas fa-arrows-alt-h lyrics-handle-icon"></i></span>
</div>


</div>
      </div>

    </div>


  </div>

<script>

  const tgt = document.getElementById("target-area");

let numClones = 0
let currentDrag = null;
let offX = 0;


//////////////////////////////////////////////////////////////
//             expandable text field
//////////////////////////////////////////////////////////////

let textStartWidth = 150;
let textDefaultWidth = 150;
let letterSpacingStart = 1.0;
let wordSpacingStart = 1.0;

// const
const hide = document.getElementById('hide');
const txt = document.getElementById('txt');
// txt.style.maxWidth = '530px';
const ta = document.getElementById('target-area');

resize();
txt.addEventListener("input", resize);



document.addEventListener('mouseup', removeXListener, true);


function removeXListener (ev) {
  document.removeEventListener('mousemove', checkMouseX, true);
};



function clickStretcher (ev) {
  offX = (ev.clientX - parseInt(ev.target.getBoundingClientRect().x));
  textStartWidth = txt.style.width;
  currentDrag = ev.target;
  document.addEventListener('mousemove', checkMouseX, true);
}


function unclickStretcher (ev) {
  textStartWidth = txt.style.width;
  document.removeEventListener('mousemove', checkMouseX, true);
  currentDrag = null;
  letterSpacingStart = txt.style.letterSpacing;
  wordSpacingStart = txt.style.wordSpacing;
}



function checkMouseX(ev) {
  if (txt.value != "") {
    txt.style.width = (ev.screenX  - 150) - (ev.screenX - ev.clientX ) - (offX/2) + "px";

    txt.style.letterSpacing = letterSpacingStart + (parseInt(txt.style.width) - textDefaultWidth)/80  + 'px';
    hide.style.letterSpacing = letterSpacingStart + (parseInt(txt.style.width) - textDefaultWidth)/80  + 'px';

    txt.style.wordSpacing = wordSpacingStart + ((parseInt(txt.style.width) - textDefaultWidth)/25)  + 'px';
    hide.style.wordSpacing = wordSpacingStart + ((parseInt(txt.style.width) - textDefaultWidth)/25)  + 'px';

  }
  // currentDrag.style.display  = 'relative';
  // currentDrag.style.left  = (ev.screenX  - textStartWidth) + "px";

}


function resize() {
  hide.textContent = txt.value;
  txt.style.width = hide.offsetWidth + "px";
  textDefaultWidth  = hide.offsetWidth;
}

///////////////////////////////////////////////////////////
//                drag and drop
//////////////////////////////////////////////////////////

function dragstart_handler(ev) {

  currentDrag = ev.target;
  ev.dataTransfer.setData("application/my-app", currentDrag.id);
  currentDrag.addEventListener("onMouseUp", dropChord(event), false);

  if (currentDrag.parentNode.id == "target-area" ) {
    currentDrag.addEventListener('dragstart', handleDragStart, false);
    currentDrag.addEventListener('dragend', handleDragEnd, false);
  }
  function handleDragStart(e) {
  console.log('currentDrag.parentNode.id ==  ' + currentDrag.parentNode.id);

    this.style.opacity = '0.3';
    this.style.transition = "opacity .5s";
  }


  function handleDragEnd(e) {
    this.style.opacity = '1';
    this.style.transition = "none";
    this.removeEventListener('dragend', handleDragEnd, false);
  }

  function dropChord(event) {
      offX = event.offsetX;
  }
}

function dragover_handler(ev) {
  ev.preventDefault();
  const clones =  Array.from(document.getElementById('target-area').children);
  const sortedClones = clones.sort((a, b) => parseInt(a.style.left) - parseInt(b.style.left));
  let leftClones = [];
  let rightClones = [];
  sortedClones.forEach(function(element) {
      if (element != currentDrag) {
      if (parseInt(element.style.left) < parseInt(ev.clientX - ta.getBoundingClientRect().x)) {
        leftClones.unshift(element); // from center to left
      } else {
        rightClones.push(element); // from center to right
      }
    }
  });
  let overlap = 0;
  if (leftClones.length > 0) {
    if (dragIntersection(ev, leftClones[0]) == true ) {
      overlap = dragLeftOverlap(ev, leftClones[0]);
      ripple(leftClones, overlap, 'left');
    }
  }

  if (rightClones.length > 0) {
    if (dragIntersection(ev, rightClones[0]) == true ) {
      overlap = dragRightOverlap(ev, rightClones[0]);
      rippleRight(rightClones, overlap);
      // ripple(rightClones, overlap, 'right');
    }
  }
};


function ripple(array, overlap, direction) {
  let ovr = overlap;
  let colliding = true;
  let oldX = parseInt(array[0].style.left);
  let newX = direction == 'left' ? (oldX - (ovr + 4)) : oldX + (ovr + 4) ;
  array[0].style.left = newX + 'px';
  checkBoundaries(array[0]);

  for (i = 0; i < array.length - 1; i++) {
    const chord1 = direction === 'left' ? array[i] : array[i + 1];
    const chord2 = direction ==='left' ? array[i + 1] : array[i];
    if (arrayIntersection(chord1, chord2)) {
    ovr = arrayOverlap(chord1, chord2);
    oldX = parseInt(chord2.style.left);
    newX = direction == 'left' ? (oldX - ovr) -4 : oldX + (ovr + 4) ;
    chord2.style.left = newX + 'px';
    checkBoundaries(chord2);
    }
  }
};




function rippleRight(array, overlap) {
  let ovr = overlap;
  let colliding = true;
  let oldX = parseInt(array[0].style.left);
  let newX = oldX + (ovr + 4) ;
  array[0].style.left = newX + 'px';
  checkBoundaries(array[0]);

  for (i = 0; i < array.length - 1; i++) {
    const chord1 = array[i];
    const chord2 = array[i + 1];
    if (arrayIntersection(chord2, chord1)) {
    ovr = arrayOverlap(chord2, chord1);
    oldX = parseInt(chord2.style.left);
    newX = oldX + (ovr + 4);
    chord2.style.left = newX + 'px';
    checkBoundaries(chord2);
    }
  }
};

function checkBoundaries (el) {
  if (el.getBoundingClientRect().x <= tgt.getBoundingClientRect().x) {
    deleteLeft(el);
  }

  if (el.getBoundingClientRect().x + el.getBoundingClientRect().width >= tgt.getBoundingClientRect().x + tgt.getBoundingClientRect().width) {
    deleteLeft(el);
  }
};


function drop_handler(ev) {
  ev.preventDefault();

  const data = ev.dataTransfer.getData("application/my-app");
  let el;
  const clone = document.getElementById(data).parentNode.id == "library" ? true : false;
  if (clone) {
    el  = document.getElementById(data).cloneNode([true]);
    el.id = "clone" + numClones;
    numClones ++ ;
    el.class = 'clone';
    el.insertAdjacentHTML("beforeend", '<div class="delete-chord" onclick="deleteChord(this)"><i class="fas fa-trash"></i></div> ')
  }  else {
    el  = document.getElementById(data);
  }
  ev.target.appendChild(el);
  el.style.position = 'absolute';
  el.style.left = ( (ev.screenX - window.screenX) - document.getElementById('target-area').parentNode.offsetLeft) - document.getElementById('target-area').offsetLeft - offX + "px";
}

function dragIntersection(ev, element) {
  return !(
    element.getBoundingClientRect().x > (ev.clientX - offX) + currentDrag.getBoundingClientRect().width ||
    element.getBoundingClientRect().x + element.getBoundingClientRect().width < (ev.clientX - offX)
  );
}

function dragLeftOverlap(ev, element) {
    return ((element.getBoundingClientRect().x + element.getBoundingClientRect().width) - (ev.clientX - offX));
}

function dragRightOverlap(ev, element) {
    return ((ev.clientX - offX) + currentDrag.getBoundingClientRect().width) - (element.getBoundingClientRect().x );
}

function arrayIntersection(element1, element2) {
  return !(element2.getBoundingClientRect().x + element2.getBoundingClientRect().width < element1.getBoundingClientRect().x);
}

function arrayOverlap(element1, element2) {
  return (((element2.getBoundingClientRect().x + element2.getBoundingClientRect().width) - element1.getBoundingClientRect().x) + 4);
}

function deleteChord(el) {
  const chord = (el.parentNode);
  chord.parentNode.removeChild(chord);
}

function deleteLeft(el) {
  el.remove();
  // const left =  el.style.left;
  // el.addEventListener('transitionend', () => el.remove());
  // // el.style = 'transform: scale(0, .5); opacity:0; transition: all .5s;';
  // el.style = 'opacity:0; left:${left}; transition: all .5s;';
}



</script>
