 <div class="container show-page-identifier">
 <%= render html: @song.html.html_safe %>
 <%#= render html: @song.html %>
 </div>
<script>


document.addEventListener('turbolinks:load', (event) => {

  const showPageIdentifier = document.querySelector('.show-page-identifier');

  const save  =  document.querySelector('#save-area');

  if (showPageIdentifier) {
       const title = save.querySelector('#song-title').dataset.title;
       save.querySelector('#song-title').value = title;
       save.querySelector('#song-title').style = "font-size:32px;";
       save.querySelector('#song-title').classList.add("hidden_bg");
       console.log("Hide" + document.querySelectorAll('hide'));
       Array.from(document.querySelectorAll('hide')).forEach(input => {
         input.value = input.dataset.lyrics;

     });

       document.querySelectorAll('input.lyrics').forEach(input => {
         input.value = input.dataset.lyrics;
         input.classList.add("hidden_bg");
     });

       const sel = document.querySelector('.level-select');
       if (sel) {
        sel.parentNode.removeChild(sel);
       }

     const btns = Array.from(document.querySelectorAll(".btn-camel"));
     btns.forEach( (btn) => {
       btn.parentNode.removeChild(btn);
     });

    const targs = Array.from(document.querySelectorAll(".target-area"));
       targs.forEach( (targ) => {
         targ.classList.add("hidden_bg");
       });


       const drags = Array.from(document.querySelectorAll(".draggable"));
       drags.forEach( (drag) => {
         drag.classList.add("hidden_bg");
       });


       const trashes = Array.from(document.querySelectorAll(".trash"));
       trashes.forEach( (trash) => {
         trash.parentNode.removeChild(trash);
       });

       const stretchers = Array.from(document.querySelectorAll(".stretcher"));
       stretchers.forEach( (stretcher) => {
         stretcher.parentNode.removeChild(stretcher);
       });
  }



});

</script>
 <%#= render html: @song.html.split("title-line") %>
