<div class="container show-page-identifier">
 <div class="row d-flex justify-content-between">

    <div class='m-3' >
      <h4><%= @song.name %></h4>
      <p><%= @song.skill_level %></p>
      <%= link_to edit_song_path(@song) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>

  </div>
 <%= render html: @song.html.html_safe %>
 <%#= render html: @song.html %>
</div>
