<div class="container" >
  <div class="d-flex justify-content-between mt-3 py-4">
    <h1>Lessons</h1>
    <%= render partial: "shared/student_searchbar" %>
   </div>



  <div class="row">
    <div class="col">
      <h4 class="header">
        Upcoming lessons
      </h4>
    </div>
    <div class="col">
      <h4 class="header">
        Past lessons
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to new_lesson_path, class: 'card-hover' do %>
        <div class="lesson-card card-hover">
          <i class="add-new-card fas fa-plus-circle"> </i>
        </div>
      <% end %>
    </div>
    <div class="col">


    </div>

  </div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
</div>
