.btn-ghost {
  color: #4A4A4A;
  // border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  box-shadow: $input-field-shadow;

}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(228, 233, 241, 0.5);
}

.btn-slate-grey {

  padding: 8px 24px;
  border-radius: 50px;
  background-color: $slate-grey;
  color: $white !important;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;

  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none;
  border-style: solid;
  border-color: $slate-grey;
  text-decoration: none;

}


.btn-camel {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: $camel;
  color: $white !important;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;

  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none;
  border-style: solid;
  border-color: $camel;
  text-decoration: none;
}

.btn-camel-border {
  padding: 8px 24px;
  border-radius: 10px;
  background-color: white;
  color: $camel;
  // opacity: 0.8;
  // transition: opacity 0.3s ease;
  // border-style: none;
  text-align: center;

  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none;
  border-style: solid;
  border-color: $camel;
  margin-left: 102px;
  margin-bottom: 20px;
}

.btn-camel:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn-camel-border:hover {
  opacity: 0.8;
  text-decoration: none;
}

#avatar-text {
  margin-left: 20px;
  margin-top: 10px;
  color: $camel;

}

.btn-camel:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(228, 233, 241, 0.5);
}

.btn-search {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: transparent;
  color: $midnight-green-eagle-green;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  right: 0;
  position:absolute;
  top: 3px;
}

.reveal-form-button {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: $camel;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;
  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none !important;
  width: 100%;
  // margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: $midnight-green-eagle-green;
  font-size: 12px;

}

.reveal-form-button:hover {
  opacity: 1;
  text-decoration: none;
}

.cancel-btn {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: $camel;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;
  width: 45px;
  font-size: 17px;
  height: 45px;
  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.cancel-btn:hover {
  opacity: 1;
  text-decoration: none;
}

.x-btn {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: $camel;
  color: white;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  border-style: none;
  text-align: center;
  width: 45px;
  font-size: 17px;
  height: 45px;
  // font-weight: bolder;
  box-shadow: $input-field-shadow;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.btn-styling-for-link-to {
  -webkit-appearance: button;
}

