.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-camel {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: $camel;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-style: none;
  font-weight: bolder;
  box-shadow: $input-field-shadow;
}

.btn-camel:hover {
  opacity: 1;
}
