.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  flex-grow: 1;
  // margin-top: 24px;
  margin-bottom: 24px;
  color: $midnight-green-eagle-green;
  background: white;

}

.card-body {
  width: 100%;
  padding: 0.5rem;
}

.card-hover {
  text-decoration: none !important;
  color: $midnight-green-eagle-green;
}
.card-hover:hover {
  text-decoration: none !important;
  color: $midnight-green-eagle-green;
  opacity: 0.8;
}

.student-card {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  width:250px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .fas {
    line-height: 0;
  }
}

.student-card p {
  font-size: 12px;
}

.song-card {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  width:250px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-new-card {
  color: $champagne-pink;
  font-size: 72px;
  text-align: center;
  display: flex;
   // font-size: 32;
  // justify-content: space-around;
  height: 104px;
}

.height-120 {
  height: 120px;
}

.sm-card-frame {
  padding: 1px 30px;
  border-radius: 5px;
  background-color: $champagne-pink;
  color: $midnight-green-eagle-green;
  opacity: 0.6;
  border-style: none;
  text-align: center;
  font-weight: lighter;
  box-shadow: $input-field-shadow;
}

.card-title {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis // This is where the magic happens
}

.lesson-card-student-page {
  background: white;
  color: $midnight-green-eagle-green;
  box-shadow: $light-shadow;
  border-radius: 8px;
  width: auto;
  margin: 2vw;
  padding: 2vw;
}
.card-title:hover {
  text-decoration: underline;
  text-decoration-color: #19444e;
}

.dashbord-alert-card {
  box-shadow: $light-shadow;
  border-radius: 8px;
  padding: 24px 48px;
  margin-left: 24px;
.small-icon:hover {
  color: #9d6158;
}

a {
  color: #19444E;
}

// <<<<<<< HEAD
.form-wrapper {
  margin-top: 20px;
}

.input-form {
  border-radius: 10px;
}
// =======
// a:hover {
//   text-decoration: none !important;
//   .card-title {
//     text-decoration: underline;
//     text-decoration-color: #19444e;
//     color: #19444e;
//   }
//   .card-text {
//     text-decoration: none !important;
//     color: #19444e;
//   }
// }
// >>>>>>> master

.lesson-card {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 30px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  width: 500px;
  // height: 120px;
  // display: flex;
  justify-content: space-around;
  align-items: center;
  .fas {
    line-height: 0;
  }
}

// .lesson-card p {
//   font-size: 12px;
// }

