.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  flex-grow: 1;
  // margin-top: 24px;
  margin-bottom: 24px;
  color: $midnight-green-eagle-green;
  background: white;

}

.card-body {
  width: 100%;
  padding: 0.5rem;
}

.card-hover {
  text-decoration: none !important;
  color: $midnight-green-eagle-green;
}
.card-hover:hover {
  text-decoration: none !important;
  color: $midnight-green-eagle-green;
  opacity: 0.8;
}

.student-card {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  width:250px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .fas {
    line-height: 0;
  }
}

.student-card p {
  font-size: 12px;
}

.song-card {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0px;
  box-shadow: $light-shadow;
  border-radius: 5px;
  color: $midnight-green-eagle-green;
  border-style: none;
  width:250px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-new-card {
  color: $champagne-pink;
  font-size: 72px;
  text-align: center;
  display: flex;
}

.height-120 {
  height: 120px;
}

.sm-card-frame {
  padding: 1px 30px;
  border-radius: 5px;
  background-color: $champagne-pink;
  color: $midnight-green-eagle-green;
  opacity: 0.6;
  border-style: none;
  text-align: center;
  font-weight: lighter;
  box-shadow: $input-field-shadow;
}

.card-title {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis // This is where the magic happens
}
.card-title:hover {
  text-decoration: underline;
  text-decoration-color: #19444e;
}

.small-icon:hover {
  color: #9d6158;
}

a {
  color: #19444E;
}

a:hover {
  text-decoration: none !important;
  .card-title {
    text-decoration: underline;
    text-decoration-color: #19444e;
    color: #19444e;
  }
  .card-text {
    text-decoration: none !important;
    color: #19444e;
  }
}

.song-card-student-page {
  background-color: $white;
  box-shadow: $light-shadow;
  border-radius: 8px;
}
