.container {

}

.right-side-container {
  flex-grow: 1;
}

#right-side-container-lessons {
  width: 88%;
  padding-top: 2vw;

  h4 {
    margin: 2vw;
  }
}

#right-side-container-songs {
  width: 100%;
  padding-top: 0px;
  padding-left: 24px;
}

.dashboard-container {
  width: 1120px;
  margin: auto;
  padding-top: 2vw;
}

