.hidden_bg {
  background-color:rgba(60, 140, 160, 0.0) !important;
  border: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

#library-container {
  height:100%;
  position: absolute;
  text-align: right;
  display: flex;
  position: relative;
}

#library {
  height:434px;
  overflow: scroll;
  position: relative;
  width: auto;
}

.api-data {
font-size: 9px;
margin: 0;
}

.show-chord {
  background: none;
  border: none;
  height: 800px;
}

.show-chord-line {
  background: none;
  border: none;
  height: 800px;

}

.chord-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 16px;
}

.name-trash {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
}

.chordname {
  width:20px;

}

.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 4px;
  top: -4px;
  pointer-events: none;
}

.chord-diagram {
  // background-image: image-url('/assets/fingerboard.svg');
  background-size: 70px 90px;
  position: relative;
  pointer-events: none;

}

.diagram {
  width: 80px;
  height: 80px;
  margin: 4px;
  pointer-events: none;
}

#save-area {
  margin: 0;
  padding:0px;
  display: inline;
}
#song-title {
  width:50%;
}

.target-area {
  background-color: $light-gray;
  height: 108px;
  border-radius:4px;
  margin-top: 24px;
  // left: 0px;
  // right: 40px;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.9);
  position: absolute;
  width: 100%;
}
.draggable {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.9);
}

.diagram {
  margin-left: 4px;
  width: 66px;
  height: 90px;
}

.ylw {
  background-color: yellow;
}
.rng {
  background-color: $alice-blue;
}
.blu {
  background-color: blue;
  color: white;
}
.brn {
  background-color: brown;
  color: white;
}

 #box{
  width:400px;
  height:300px;
  background: #f2f2f2;
  border: 1px solid #000;
}

.delete-chord {
  width: 24px;
  height: 24px;
  display: inline;
  text-align: center;
  // margin-top: 8px;
  // margin-left: 8px;
  // padding: 4px 8px;
  // border-radius: 2px;

}

.trash {
  text-align: center;
}

.delete-chord:hover {
  color: lighter;
}

.save-changes-btn {
  background-color: $redwood !important;
  // font-size: 40px;
}
