:root {
  --voicings-width: 100px;
  --voicings-height: 240px;
  --dark-type: $midnight-green-eagle-green;
  --light-type: $alice-blue;
}




.tooltip-library {
  font-size: 40px;
  background: rgb(60, 151, 151);
  color: black;
}


#lines {
max-height:420px;
overflow-y: auto;
background-color: $alice-blue;
border-radius: 4px;
}


.line {
  padding: 4px 8px;
  margin: 0;
  display:block;
  // border-top: 2px solid rgba(40,40,60, .5);

}

.line:first-of-type {
  padding-top: 16px;
  padding-bottom: 8px;
  // margin-top:8px;

}

.audio-loaded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

// .edit-song-form {
//   margin-left: 24px;
// }

audio {
  margin: 8px 0;
  height: 32px;
  width: 50%;
  background: none;
}

.show-page-identifier audio {
  width: 100%;
}

.show-page-identifier #lines {
  padding-left: 20px;
}

.file {
  margin-top: 24px;
  // display: inline;
  // width: 25%;
  text-align: center;
}

#file-upload-button {
  border-radius: 8px;
  text-align: center;
}

#aud {
  display: inline;
  width: 50%;
  margin: 0;

}

#main-content {
  // box-sizing: bounding-box;
  // z-index: -1;
  position: relative;
  left:24px;
}

.fa-trash {
  color: $alice-blue;
}

.update-chord {
  display: hidden !important;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.hidden_bg {
  color: $midnight-green-eagle-green !important;
  background-color:rgba(60, 140, 160, 0.0) !important;
  border: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

#cancel-btn {
  margin-bottom: 24px;
}

.level-select {
  // width: 80px;
  border-radius: 4px;
  margin: 0px !important;
  top:16px;
}

.form-group {
  // width: 400px;
  // margin-right:0;
}

.edit_song .form-control:valid{
  background-image: none;
  margin:0;
}

.edit_song .form-control{
  margin: 0;
}

#song_name {
  border: none;
  font-size: 26px;
  margin: 0;
  // padding: 0;
  width: auto;
}

#link-to-show {
  display:inline-block;
  // margin-left: 16px;
  font-size: 20px;

}

.voicings-btn {
  border:none;
  width:8px;
  height:8px;
  margin-right: 4px;
  // padding: 2px;
  // font-size: 8px;
  color: $alice-blue;
}

#close-voicings{
  text-align: right;
  position: relative;
}

#voicings-header {
  font-size:24px;
  clear: both;
  position: relative;
  z-index: 50;
  margin-right: 16px;
  width: content;
  pointer-events: none;
  // padding-right: 32px;
  // transform: rotate(-90deg);
}

#voicings-container {
  top:-8px;
  left:0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 80px;
  background-color: rgba(36,46,86,.4);
  margin-top: 0;
  margin-left: 8px;
  z-index: 100;
  // opacity: 0;
  // transition: .4s all;

};

.show-voicings {

  opacity: 1;
  transition: .4s all;

}

#voicings-bg {
  background-color: $alice-blue;
  padding: 8px 8px;
  // width: var(--voicings-width);
  // height: var(--voicings-height);
  // width: auto;
  // height: var(--voicings-height);
  position: relative;
  // display: flex;
  // flex-direction: column;
  border-radius: 4px;
  // opacity: 0;
}

#voicings-footer {
  position: absolute;
  // display: flex;
  // justify-content: between;
  width: 100%;
}

.pitches {
  font-size: 14px;
  font-style: italic;
}

.voicings-show {
  background-color: rgba(156,156,56,.4);
  transition: 1s all;

}

#voicings_template {
  // clear:both
}

#voicings {
  position: relative;
  // margin-left: 10px;
  // margin-right: 80px;
  // left: 10%;
  flex-wrap:  wrap;
  // // margin-right: 10%;
  // top: 10%;
  // // height: 50%;
  display: flex;
  justify-content: space-between;
  // font-size: 16px;
  padding: 16px 40px;
  grid-auto-flow: row dense;
  // grid-auto-flow: column;
  // // background-color: white;
  // opacity:1;
  // border-radius: 8px;
  // height: auto;
  width: 100%;
}

.voicing {
  padding:8px;
  border: 2px solid transparent;
  margin-bottom: 16px;
  // padding-right: 20px;
  border-radius: 6px;
  transition: .4s all;
  position: relative;
  display: inline-block;
  // position: relative;
 // width: 90px;
  // margin-left: 24px;

}

.voicing-selected {
  // background-color: $redwood;
  background-color: $slate-grey;
  border-color: $camel;
  box-shadow: 3px 2px 6px rgba(0,0,8,.4);
  transform: translate(-1px, -2px);
  transition: .4s all;
}

.voicing-diagram {
  // box-shadow: inset 3px 2px 2px rgba(0,0,8,.4);
  // border: 1px solid black;
}

.first-fret {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;
  // font-weight: regular;
  color: $alice-blue;
  top: 22px;
  right: 4px;
  position: relative;
  padding: 0;
  height: 94px;
  text-align: center;
  // margin-left: 12px;
}

.first-fret-voicing {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  // font-weight: bolder;
  color: $midnight-green-eagle-green;
  justify-content: space-between;
  top: 16px;
  right: 10px;
  position: absolute;
  height: 200px;
  text-align: center;
  // margin-right: 8px;
  pointer-events: none;
  padding: 0;
  margin: 0;

}

.level-label {
  display:inline;
  font-size: 12px;
  margin: 0px
}

.form-group {
  margin-bottom: 0;
  margin-right: 0;
}

#song_skill_level {
  border-radius: 0;
}

#library-container {
  height: 100%;
  // min-height: 100%;
  position: absolute;
  text-align: right;
  // display: flex;
  position: relative;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: transparent;
}

.chords-head {
  // width: 100%;
  display: grid;
  grid-template-columns: auto;
  padding: 8px;

}

#library {
border-radius: 8px;
// border: 1px solid black;
box-shadow: inset 0px 0px 4px rgba(200,200,200,0.9);
background-color: $alice-blue;
  display: grid;
  grid-template-columns: auto auto;
  padding: 32px;
justify-items: center;
  // text-align: center;
  // align-self: items;
  // align-items: center;
  // display: inline-grid;
  overflow-y: scroll;
  height: 450px;
  position: relative;
  width: 100%;
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;
  padding-top: 24px;
}

.api-data {
font-size: 9px;
margin: 0;
}

.show-chord {
  background: none;
  border: none;
  height: 800px;
}

.show-chord-line {
  background: none;
  border: none;
  height: 800px;

}

.chord-content {
  // position: relative;
  display: flex;
  justify-content: space-between;
  left: 8px;
}

.name-trash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18px;
  padding-left:4px;
  text-align: right;
  // margin-right: 8px;
  // padding: 4px;
  // pointer-events: none;
}

.chord-type {
  // transform: rotate(-90deg);
  text-align: left;
  margin: 0px;
  padding: 0px;
  // position: relative;
  display: inline-block;
  width: auto;
  pointer-events: none;

}

.chordname {
  // width: 90px;
  width: auto;
  // height:15px;
  // letter-spacing: 1.05px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  // margin: 0px;
  // padding-bottom: 8px;
  text-align: left;
  vertical-align: top;
  // display: inline;
  pointer-events: none;
}

.modifier {
  font-size: 11px;
  font-weight: normal;
  // margin: 0px;
  // padding: 0px;
  // letter-spacing: 1.08px;
  text-align: left;
  // display: inline;
  margin: 0px;
  padding: 0px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  left: 4px;
  top: -4px;
  pointer-events: none;
  background-color: white;
  opacity: 1;
  transition: .5s opacity;
};

.dot-fadeout {
  opacity: .5;
  transition: .5s opacity;
}
.dot-fadein {
  opacity: 1;
  transition: .5s opacity;
}

.bigdot {
  width: 19px;
  height: 19px;
  border-radius: 10px;
  position: relative;
  left: 13px;
  top: 20px;
  pointer-events: none;
  background-color: white;
}

.o {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  position: absolute;
  left: 6px;
  top: -2px;
  pointer-events: none;
  background-color: transparent;
}

.bigo {
  width: 16px;
  height: 16px;
  // border-radius: 8px;
  position: relative;
  left: 14px;
  top: 12px;
  pointer-events: none;
  background-color: transparent;
}

.chord-diagram {
  // background-image: image-url('/assets/fingerboard.svg');
  // background-size: 80px 80px;
  margin-top: 14px;
  // margin-left: 0px;
  // bottom: 4px;
  // left: 4px;
  position: absolute;
  pointer-events: none;
  // text-align: center;
  // box-shadow: 1px 1px 1px rgba(0,0,0, .7);
  color: $alice-blue;
}

.barre {
  text-align:center;
  margin:0;
  padding:0;
  pointer-events: none;
}

.diagram {
  width: 80px;
  height: 80px;
  // margin: 4px;
  pointer-events: none;
}


.finger {
  font-size: 9.5px;
  font-weight:bolder;
  width: inherit;
  position: absolute;
  left: 7px;
  top: -5px;
  pointer-events: none;
  color: $midnight-green-eagle-green;
}

.bigfinger {
  font-size: 14px;
  font-weight:bolder;
  // width: inherit;
  position: absolute;
  text-align: center;
  left: 19px;
  top: 20px;
  pointer-events: none;
}

#save-area {
  margin: 0;
  // padding-left: 24px;
  display: flex;
  flex-direction: column;
}
#song-title {
  width: 30%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #D0CFCE;
  outline: none;
  padding-left: 16px;
  color: $midnight-green-eagle-green;
}

#song-title-copy {
  width: auto;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #D0CFCE;
  outline: none;
  padding-left: 16px;
  color: $midnight-green-eagle-green;
}

.target-area {
  background-color: $roman-silver;
  height: 126px;
  border-radius: 6px;
  // margin-top: 24px;
  // left: 0px;
  margin-bottom: 4px;
  // right: 40px;
  // box-shadow: inset 0px 0px 4px rgba(200,200,200,0.9);
  // border: 1px solid black;
  box-shadow: inset 0.3em 0.2em 0.6em rgba(20,20,40,0.7);
  // border-bottom: 3px solid $alice-blue;
  clear: both;
  position: relative;
  width: 100%;
  // border: 1px solid black;
}

.draggable {
  display: flex;
  justify-content: space-between;
  width: 84px;
  height: 121px;
  padding: 0px;
  padding-top: 2px;
  // padding-left: 2px;
  // margin: 4px;
  margin-top: 3px;
  margin-bottom: 16px;
  border-radius: 4px;
  position: relative;
  border: 1px solid $alice-blue;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.5);
  // box-shadow: $light-shadow;
  // border: 1px solid #D0CFCE;
  z-index: 50;
  transition: .3s all;
  // background-color: $midnight-green-eagle-green;
  background-color: $slate-grey;
  color: $alice-blue;
}



.draggable-selected {
  transform: scale(1.2);
  z-index: 100;
  transition: .4s all;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.diagram {
  margin-left: 2px;
  margin-top:12px;
  width: 66px;
  height: 90px;
}

.ylw {
  background-color: yellow;
}
.rng {
  background-color: $white;
}
.blu {
  background-color: blue;
  color: white;
}
.brn {
  background-color: brown;
  color: white;
}

 #box{
  width:400px;
  height:300px;
  background: #f2f2f2;
  border: 1px solid #000;
}

.delete-chord {
  width: 24px;
  height: 24px;
  display: inline;
  text-align: center;
  // margin-top: 8px;
  // margin-left: 8px;
  // padding: 4px 8px;
  // border-radius: 2px;

}

.trash {
  text-align: center;
  position: relative;
  // bottom: 4px;
  font-size: 12px;

  color: $alice-blue;
}

.delete-chord:hover {
  color: lighter;
}

.save-changes-btn {
  background-color: $redwood;
  // font-size: 40px;
}

#new-song-container {
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
}

#song_skill_level {
  height: 40px;
  border-radius: 3px;
  border: 1px solid #D0CFCE;
  outline: none;
  padding-left: 16px;
  color: grey;
}

#song_skill_level:focus {
  box-shadow: none;
}

.delete-line {
position: relative;
  top:-4px;
  left:1px;
  height:auto;
}

.song_skill_level {
  margin-bottom: 0px;
  margin-left: 8px;
}

// .container.new-page-identifier {
//   width: 100vw;
//   margin-right: 0px;
// }

#add-line-btn {
  height: 40px;
  cursor: pointer;
  margin-left: 8px;
}

#save-song-btn {
  height: 40px;
  margin-left: 8px;
}

.guitar-icon {
  // font-size: 72px !important;
  // border-style: solid;
  // border-width: 1px;
  // padding: 16px;
  border-radius: 50%;
  height: 112px;
  width: 112px;
  margin-bottom: 24px;
  margin-top: 24px;
  box-shadow: $light-shadow;
}
