.lyrics,
.hide {
  font: inherit;
  font-family: $lyrics-font;
  letter-spacing: 0.0px;
  word-spacing: 0.0px;
  font-size: 14px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  // padding: 4px;
  min-width: 150px;
  // margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  // width: auto;
  border-radius: 50px;
  border: 1px solid transparent;
}

.lyrics {
  // border: 1px solid $midnight-green-eagle-green;
  color: $midnight-green-eagle-green;
  background-color: $white;
  // display: inline;
  outline: none;
  height: 40px;
  // border-radius: 50px;
  border: 1px solid #D0CFCE;
  // padding-left: 16px;
  // padding-right: 16px;
  // margin-right: 8px;
  width: 150px;
}

.hide {
  position: absolute;
  height: 0;
  overflow: hidden;
  // width: max-content;
  white-space: pre;
}

.stretcher {
  border-style: none !important;

  i {
    color: $white;
    height: 40px;
    width: 30px;
    display: inline;
    padding: 8px;
    font-size: 16px;
    margin-left: 2px;
    opacity: 1;
    display: contents;
  }
}


.lyrics-handle-icon {
  pointer-events: none;
}
