.lyrics {
  letter-spacing: 1px;
  display: inline;
}

#txt,
#hide {
  font: inherit;
  font-family: $lyrics-font;
  letter-spacing: 1.0px;
  word-spacing: 1.0px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding: 4px;
  min-width: 150px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#txt {
  // border: 1px solid $midnight-green-eagle-green;
  color: $midnight-green-eagle-green;
  background-color: $alice-blue;
}

#hide {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}

.stretcher {
  background-color: $midnight-green-eagle-green;
  color: $alice-blue;
  height: 30px;
  width: 30px;
  display: inline;
  padding: 4px 8px;
  font-size: 14px;
  margin-left: 2px;
}


.lyrics-handle-icon {
  pointer-events: none;
}
