.navbar-lewagon {
  justify-content: space-between;
  background: #E4E9F1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 45;
  width: 100px;
}

.avatar {
  margin-bottom: 1mm;
  margin-left: 0.5rem;
}

.username {
  margin-bottom: 0.1rem;
  font-weight: bold;
  font-size: 8pt;
}
.btn {
  color: #19444E
}