.fixed-modal-footer {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  left: 0;
  border-radius: 0 0 8px 8px;
}

.create_student_song {
  padding-bottom: 80px;
}

.overflow-padding {
  padding-top: 24px;
  padding-right: 8px;
  padding-left: 8px;
}

.modal-height {
  height: 90vh;
}
